.book-details-container {
  min-height: 63vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 237, 227);
  padding: 2% 2%;
}

.book-main {
  width: 35%;
}

.book-author {
  margin-top: 0%;
}

.book-details {
  margin-bottom: 10px;
}

.book-details span {
  margin-left: 15px;
}

.book-details span i {
  margin-right: 5px;
}

.book-image {
  width: 100%;
  margin-top: 2%;
}

.book-image img {
  max-width: 450px;
  max-height: 450px;
}

.book-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-categories span {
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: grey;
  border-radius: 15px;
  padding: 0px 10px 2px 10px;
  color: white;
}

.fa-circle {
  color: white;
  font-size: 0.3em;
  margin-right: 5px;
}

.fa-circle:before {
  background-color: white;
  border-radius: 50%;
  content: "\f111";
  position: relative;
  top: -3px;
}

.book-additional {
  width: 35%;
}

.book-comments {
  overflow-y: scroll;
  height: 400px;
  background-color: white;
  min-width: 100%;
  border: 1px solid white;
}

.book-rating{
  margin-top: 20px;
}

.book-comments-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-input {
  border-radius: 6px;
  border: none;
}

.comment-btn {
  font-size: 1.6em;
  color: rgb(162, 186, 187);
  border: none;
  display: block;
  background-color: transparent;
  margin-top: 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.book-actions{
  width: 15%;
  align-self: flex-start;
}

.book-actions-icon{
  width: 100%;
}

.fa-calendar-check{
  font-size: 65px;
  color: rgb(135, 165, 167);
}

.edit-link,
.join-link,
.delete-link,
.add-to-reading-list-link {
  margin: 15px 30px;
  text-decoration: none;
  color: rgb(135, 165, 167);
  font-weight: bold;
}

.added-to-reading-list{
  color: darkslateblue;
}

.comment-error{
  font-size: 0.8em;
  margin-top: 0;
  color: red;
}

@media screen and (max-width: 850px) {
  .book-details-container {
    flex-direction: column;
    align-items: center;
  }
  .book-main {
    width: 80%;
  }

  .book-additional {
    margin-top: 2%;
    width: 70%;
  }

  .book-image img {
    width: 100%;
  }
  .book-actions {
    width: 30%;
    order: -1;
    margin-bottom: 2%;
    align-self: center;
  }
}
