.notification-message{
  position: fixed;
  top:100px;
  right: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(111, 106, 138);
  color: white;
  padding: 10px;
}

.confirm,
.cancel{
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 1em;
}