.book-card-medium {
  display: flex;
  width: 330px;
  height: 200px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px 2px grey;
  margin: 20px;
  background-color: white;
}

.book-card-medium-img {
  width: 120px;
 padding: 10px;
  border-right: 4px solid lightgrey;
}
.book-card-medium-img img {
  width: 90px;
  height: 80%;
  object-fit: cover;
  margin-top: 20px;
}

.book-card-medium-content {
  font-size: 0.8em;
  width: 180px;
  padding-left: 15px;
  text-align: left;
  word-break: break-all;
}

.book-card-medium-content-heading {
  color: grey;
}

.details-link{
  float: right;
  text-decoration: none;
  color: steelblue;
  margin-right: 15px;
  margin-top: 5px;
}

