.all-books-search {
  text-align: left;
  border-bottom: 1px solid black;
}

.books-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 30px;
  justify-content: space-evenly;
  margin-top: 2%;
  max-width: 70%;
}

.search-posts {
  text-align: end;
  margin-top: -2%;
}
.search-my-posts,
.search-all-posts {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-right: 50px;
}

.search-my-posts-action,
.search-all-posts-action {
  display: block;
  cursor: pointer;
  color: rgb(135, 165, 167);
  font-weight: bold;
}

.search-my-posts-icon,
.search-all-posts-icon {
  text-align: center;
}

.search-container {
  display: inline-block;
  padding: 6px 30px;
  border: 1px solid black;
  border-radius: 40px;
  width: 50%;
}

.main-input {
  border: none;
  font-size: 1.3em;
  width: 70%;
}

.search-options-list {
  display: inline;
}

.search-btn {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  cursor: pointer;
  color: darkgrey;
  margin-left: 22px;
}

.search-btn:hover {
  color: red;
}

.search-options-label-title,
.search-options-label-category,
.search-options-label-author,
.search-options-label-postedBy {
  color: grey;
  font-size: 1.1em;
  margin-left: 25px;
}

.popup-author,
.popup-category,
.popup-postedBy,
.popup-title {
  position: relative;
  display: inline-block;
  cursor: pointer;
  appearance: none;
  margin: 0px;
}

.popuptext-author,
.popuptext-category,
.popuptext-postedBy,
.popuptext-title {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popuptext-author::after,
.popuptext-title::after,
.popuptext-category::after,
.popuptext-postedBy::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup-category:hover ~ .popuptext-category,
.popup-postedBy:hover ~ .popuptext-postedBy,
.popup-author:hover ~ .popuptext-author,
.popup-title:hover ~ .popuptext-title {
  visibility: visible;
  animation: fadeIn 1s;
}

input.popup-title:checked ~ i.fa-bookmark,
input.popup-postedBy:checked ~ i.fa-id-badge,
input.popup-category:checked ~ i.fa-list-ul,
input.popup-author:checked ~ i.fa-edit {
  color: red;
}

.search-message,
.search-pages {
  text-align: left;
  font-size: 1.3em;
  padding: 8px 50px;
  color: black;
  background-color: rgb(135, 165, 167);
}
.search-pages {
  text-align: center;
}

.search-message strong {
  color: white;
}

.books-container.search {
  align-items: center;
  min-height: 40vh;
  display: flex;
  justify-content: space-around;
}

.search-container p {
  font-size: 0.8em;
}

.prev-books,
.next-books {
  cursor: pointer;
  width: auto;
  height: fit-content;
  padding: 16px;
  color: darkolivegreen;
  font-weight: bold;
  font-size: 21px;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 3px 0 0 3px;
  border: 1px solid darkolivegreen;
}

.prev-books:hover,
.next-books:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.prev-books:disabled,
.next-books:disabled {
  color: lightgrey;
  background-color: lightgrey;
  border: none;
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .search-container {
    display: inline-block;
    padding: 6px;
    width: 77%;
    margin: 0px auto;
  }
  .search-container form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
  }

  .main-input {
    width: 100%;
  }

  .books-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }

  .search-posts {
    margin-bottom: 2%;
    text-align: center;
  }

  .search-options-list {
    display: block;
  }
  .search-my-posts,
  .search-all-posts {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 640px) {
  .main-input {
    font-size: 1.1em;
    margin: 4% 0%;
  }
  .search-container form {
    font-size: 1em;
  }
}
