.event-form-container {
  background: rgb(249 248 248);
  width: 100vw;
  padding-bottom: 0.2%;
  margin-bottom: 2%;
}

.event-form-title {
  text-align: left;
  padding: 10px 40px;
}

.event-form-title h3 {
  margin: 0;
}

.fa-arrow-right {
  margin-right: 20px;
}

.event-form-body {
  padding: 0 40px;
  display: flex;
  flex-flow: row no-wrap;
  margin-bottom: 25px;
}

.event-form-body-main,
.event-form-body-details {
  box-sizing: border-box;
  padding: 15px;
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.event-status {
  border: 1px solid lightgrey;
  box-shadow: inset -1px -1px 2px 1px lightgrey;
  border-radius: 12px;
  padding: 12px 10px;
  margin-bottom: 1%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.event-date.edit {
  margin-bottom: 1%;
}

.event-name-input,
.event-date-input,
.event-image-input,
.event-description-input {
  padding: 10px 15px;
  border-radius: 6px;
  width: 70%;
  border: 1px solid lightgrey;
}

.event-default-image {
  padding: 15px 0px;
  width: 50%;
}

.event-default-image img {
  display: block;
  max-width: 19vw;
  height: auto;
}

.event-description {
  margin-bottom: 25px;
}

.event-date-input-box {
  width: 15%;
  height: 20px;
}

label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #6b989b;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 3%;
}

.fa-times {
  margin-right: 8px;
  color: white;
  font-size: 0.8em;
}

.fa-pen,
.fa-image {
  margin-right: 10px;
}

.event-edit-form-footer {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.event-edit-form-footer::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 40px;
  width: calc(100% - 80px);
  height: 5px;
  background: linear-gradient(
    to right,
    #6b989b 0%,
    #6b989b 20%,
    #ddd 20%,
    #ddd 100%
  );
}

.event-edit-form-footer .recommend p {
  margin-right: 10%;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #6b989b;
}

.event-edit-form-footer .recommend h3 {
  margin: 0px 0px 30px 0px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #6b989b;
}

.event-action-btn {
  cursor: pointer;
  border: 1px solid #6b989b;
  padding: 14px 30px;
  border-radius: 200px;
  color: #fff;
  background: #6b989b;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
}

.event-action-btn:hover {
  background: #fff;
  color: #6b989b;
}

.cancel-event-link {
  text-decoration: none;
  color: rgb(135, 165, 167);
  font-weight: bold;
}

.event-actions.cancel {
  width: 33%;
  align-self: center;
}

@media screen and (max-width: 870px) {
  .event-form-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .event-form-body-main,
  .event-form-body-details {
    width: 80%;
  }

  .event-default-image img {
    width: 100%;
  }
}
