.signup-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  width: 800px;
  height: 450px;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.signup-section-wrapper:before {
  content: " ";
  display: block;
  position: absolute;
  right: 0px;
  width: 100%;
  height: 70%;
  opacity: 0.5;
  background-image: url("../../../components/images/flowers-bottom.jpg");
  background-repeat: no-repeat;
  z-index: -10;
}

.signup-section-info {
  width: 45%;
  background: rgba(48, 46, 46, 0.8);
  padding: 30px 0;
  border-right: 3px solid rgba(30, 30, 30, 0.8);
}

.signup-section-info h2 {
  padding-top: 30px;
  font-weight: 300;
}

.signup-form {
  width: 70%;
  padding: 30px 0;
  transition: 0.2s;
}

.signup-form h2 {
  font-weight: 300;
}

@media screen and (max-width: 850px) {
  .signup-section {
    top: 51%;
    left: 50%;
    width: 550px;
    height: 375px;
  }
}
